<div class="landing">
  <section>
    <s-studio-parallax height="100vh" imgSrc="/assets/images/studio-1.jpg">
      <div class="welcome-container">
        <div class="welcome-message mat-typography">
          <h1 class="mat-display-4">Schaeffer</h1>
          <h1 class="mat-display-4">Studio</h1>
        </div>
        <div>
          <a href="mailto:schaeffer.studio@gmail.com">
            <button class="contact-us" mat-button>CONTACT US</button>
          </a>
        </div>
      </div>
    </s-studio-parallax>
  </section>
  <section>
    <s-studio-parallax
      height="40vh"
      imgSrc="/assets/images/collab-1.jpg"
    ></s-studio-parallax>
    <div class="parallax-sandwich">
      <h2 class="mat-display-2">Website Creation &amp; Design</h2>
    </div>
    <s-studio-parallax
      height="40vh"
      imgSrc="/assets/images/kanban-1.jpg"
    ></s-studio-parallax>
  </section>
  <section>
    <s-studio-parallax
      height="40vh"
      imgSrc="/assets/images/wedding-1.jpg"
    ></s-studio-parallax>
    <div class="parallax-sandwich">
      <h2 class="mat-display-2">Photography</h2>
    </div>
    <s-studio-parallax
      height="40vh"
      imgSrc="/assets/images/wedding-2.jpg"
    ></s-studio-parallax>
  </section>
  <section>
    <s-studio-parallax
      height="40vh"
      imgSrc="/assets/images/digital-media-1.jpg"
    ></s-studio-parallax>
    <div class="parallax-sandwich">
      <h2 class="mat-display-2">Marketing &amp; Digital Media</h2>
    </div>
    <s-studio-parallax
      height="40vh"
      imgSrc="/assets/images/maze-1.jpg"
    ></s-studio-parallax>
  </section>
</div>
